<mat-form-field style="width: 100%">
    <mat-label>¿Por cuál palabra clave quieres buscar?</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="keyword"
      (keyup.enter)="onSearchByKeyword()"
    />
    <button mat-icon-button matSuffix (click)="onSearchByKeyword()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field style="width: 100%">
    <mat-label>¿Por cuál autor quieres buscar?</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="author"
      (keyup.enter)="onSearchByAuthor()"
    />
    <button mat-icon-button matSuffix (click)="onSearchByAuthor()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field style="width: 100%">
    <mat-label>¿Por cuál obra quieres buscar?</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="work"
      (keyup.enter)="onSearchByWork()"
    />
    <button mat-icon-button matSuffix (click)="onSearchByWork()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
  <div *ngIf="quotes.length > 0">
    <h2>Frases a recordar</h2>
    <mat-card class="quote-card" *ngFor="let quote of quotes">
      <mat-card-header>
        <mat-card-title>
          {{ quote.author }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ quote.work }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ quote.phrase }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          [routerLink]="['/edit/' + quote.quote_id]">
          EDITAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  