<mat-toolbar>
  <span>{{ isEditMode ? 'Actualizar opinión' : 'Memorizar opinión' }}</span>
</mat-toolbar>
<div *ngIf="isLoading" class="loading-container">
  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div class="custom-main-content">
  <mat-form-field class="full-width">
    <mat-label>¿Cuál será el título de la opinión?</mat-label>
    <input
      id="titleInput"
      matInput
      type="text"
      [(ngModel)]="review.title"
      name="title"
      onfocus="this.select()"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>¿Cuál es la opinión?</mat-label>
    <textarea
      id="reviewInput"
      cols="30"
      rows="10"
      matInput
      type="review"
      [(ngModel)]="review.review"
      name="description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>¿Quién es el autor?</mat-label>
    <input
      id="authorInput"
      matInput
      type="text"
      [(ngModel)]="review.author"
      name="author"
      onfocus="this.select()"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>¿Cuál es la fuente?</mat-label>
    <input
      id="sourceInput"
      matInput
      type="text"
      [(ngModel)]="review.source"
      name="source"
      onfocus="this.select()"/>
  </mat-form-field>

  <button mat-flat-button type="button" color="primary" (click)="onSave()">MEMORIZAR</button>
  <button mat-button color="warn" (click)="onDelete()">ELIMINAR</button>
</div>
