/* Para iPhones medianos y grandes */
@media (max-width: 430px) {
  .custom-main-content {
    width: 95%;
    margin: 0 auto; /* Para centrar horizontalmente */
  }

  .quote-card {
    margin-top: 12px;
  }
}

/* Para pantallas de escritorio estándar */
@media (min-width: 1024px) {
  .custom-main-content {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
  }

  .quote-card {
    margin: 12px;
  }
}

/* Para pantallas de escritorio grandes */
@media (min-width: 1440px) {
  .custom-main-content {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
  }

  .quote-card {
    margin: 12px;
  }
}
