<mat-toolbar>
  <span>Buscar frase</span>
</mat-toolbar>

<div class="custom-main-content">
  <mat-form-field class="full-width">
    <mat-label>Frase a recordar</mat-label>
    <textarea
      id="phraseInput"
      cols="30"
      rows="7"
      matInput
      type="text"
      [(ngModel)]="quote.phrase"
      name="phrase"
      onfocus="this.select()"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>¿Quién es el autor?</mat-label>
    <input
      id="authorInput"
      matInput
      type="text"
      [(ngModel)]="quote.author"
      name="author"
      onfocus="this.select()"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>¿Cuál es la obra?</mat-label>
    <input
      id="workInput"
      matInput
      type="text"
      [(ngModel)]="quote.work"
      name="work"
      onfocus="this.select()"
    />
  </mat-form-field>

  <button mat-button type="button" color="primary" (click)="onMemorizeQuote()">
    MEMORIZAR
  </button>
  <button mat-button color="warn" (click)="onDeleteQuote()">ELIMINAR</button>
</div>
