<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Jose M. Gómez</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    opened="true"
    mode="side"
    style="width: 180px"
  >
    <mat-nav-list style="margin: 0px; border-radius: 0px; box-shadow: none">
      <a mat-list-item [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a mat-list-item [routerLink]="['/search']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Search</a>
      <a mat-list-item [routerLink]="['/new']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">New</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 90vh; padding: 10px;">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>