<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Find a quote by author, work, tags or simply keyword...</mat-label>
    <input matInput type="text" [(ngModel)]="valueToFind">
    <button *ngIf="valueToFind" matSuffix mat-icon-button aria-label="Search" (keydown.enter)="searchQuotes()" (click)="searchQuotes()">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>

<mat-card class="example-card" *ngFor="let quote of quotes">
    <mat-card-title>
        {{quote.author}}
        <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editQuote(quote.id)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteQuote(quote.id)">
                <mat-icon>remove_circle</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-title>
    <mat-card-subtitle>{{quote.work}}</mat-card-subtitle>
    <mat-card-content>
        <p>{{quote.message}}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer class="example-card-footer">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected *ngFor="let tag of quote.tags">{{tag}}</mat-chip>
        </mat-chip-list>
    </mat-card-footer>
</mat-card>

<div class="button-create-quote">
    <div class="button-holder">
        <button mat-fab color="primary" (click)="createQuote()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>