<mat-toolbar>
  <span>Memorizar frase</span>
</mat-toolbar>

<div class="custom-main-content">
  <mat-form-field class="full-width">
    <mat-label>Frase a memorizar</mat-label>
    <textarea
      id="phraseInput"
      cols="30"
      rows="7"
      matInput
      type="text"
      [(ngModel)]="quote.phrase"
      name="phrase"
    ></textarea>
  </mat-form-field>

  <app-autocomplete-input
    label="¿Quién es el autor?"
    [control]="authorCtrl"
    [filteredOptions]="authorFilteredOptions">
  </app-autocomplete-input>

  <app-autocomplete-input
    label="¿Cuál es la obra?"
    [control]="workCtrl"
    [filteredOptions]="workFilteredOptions">
  </app-autocomplete-input>

  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="onMemorizeQuote()"
  >
    MEMORIZAR
  </button>
</div>
